@media screen and (max-width: 414px) {
  div .navbar a{
    display: none;
  }
  .navbar a.hiddenIcon {
    float: right;
    display: block;
    z-index:1000;
  }
  p.aboutText{
    text-align:start;
    padding-left: 10px;
  }

  img.icon{
    height: 15%;
    width:15%;
    animation:none;
  }

  img.icon:hover{
    animation: none;
  }
  
  #icon{
    height: 30%;
    width:30%
  }

  .resume{
    max-width: 90%;
    width:90%;

  }

  p#warning.indexTitle{
    display:block;
  }

  /* .navbar.re{
    z-index: 1000;
    min-height: max-content;
  } */
  }

@media screen and (max-width: 414px) {
  .navbar.responsive {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
    width:100%;
    height:100%;
    padding:30px;
    margin:0;
    top:0;
  }
  .navbar.responsive a .hiddenIcon {
    position: fixed;
    left: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display:block;
    text-align: left;
    font-size: xx-large;
    animation: none;
  }

  .navbar.responsive a:hover{
    animation:none
  }

  /* .navbar.navbar.responsive{
    max-height: 100%;
    z-index: 100;
  } */
}

#burger {
  max-width: 50px;
  position: fixed;
  right: 3%;
  top:3%;
  z-index:1000 !important
}

p#warning{
  display:none
}

/* @media screen and (max-width:414px){
  .holder .responsive li {position: relative;}
  .holder .responsive img .hiddenIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .holder .responsive li  {
    float: none;
    display: block;
    text-align: center;
  }
} */

.navbar .hiddenIcon{
  display:none;
}

li .responsiveItem a{
  float: none;
  display: block;
  text-align: left;
}

.navbar {
    position: sticky;
    margin:0;
    border:0;
    padding: 0;
    width:100%;
    white-space: nowrap;
    /* background-color:rgba(0, 0, 0, 0.5); */
    overflow:hidden;
    animation: fadein 4s; 
    min-height: 35%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Helvetica', 'Arial';
}

.mobile{
  position: sticky;
  margin:0;
  border:0;
  padding: 0;
  width:100%;
  white-space: nowrap;
  /* background-color:rgba(0, 0, 0, 0.5); */
  overflow:hidden;
  animation: fadein 4s; 
  min-height: 35%;
  display:none
}

.mobile a.hiddenIcon{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  float: left;
}

.navbar a:hover{
  animation: biggerFont .5s;
  animation-fill-mode: forwards;
}

/* .navbarItem {
  float: left;
}
.navbarItemRight {
  float: right;
} */
.mainPage {
  border:0;
  margin:0;
  color: white;
  z-index:-10;
}

.indexTitle {
  padding-top:1%; 
  text-align: center;
  animation: fadein 4s;
  color:white;
}

@keyframes biggerFont{
  from{
    font-size: 100%;
  }
  to{
    font-size:110%;
    padding: 20px;
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes biggerPic {
  from {
    height:5%;
    width:5%;
  }
  to{
    height:5.5%;
    width:5.5%;
    top:-30px;
  }
}
li a:hover {
  animation: biggerFont .5s;
  animation-fill-mode: forwards;
}

.icon:hover {
    /* top:-25px;
    left:-35px;
    width:7%;
    height:auto;
    z-index:999; */
    animation: biggerPic .5s;
    animation-fill-mode: forwards;
}


.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-2;
}

footer {
  position: absolute;
  height: 30px;
  left:0;
  right:0;
  bottom: 0;
  text-align: center;
  animation: fadein 4s; 
  color:white;
}

.icon{
  /* display: block; 
  margin-left: auto;
  margin-right: auto; */
  padding: 14px 16px;
  height:5%;
  width: 5%;
  animation: fadein 4s; 
}

.imageDiv {
  align-content: center;
  text-align: center;
}

.mainDiv {
  min-height: 100%;
}

.circleIcon{
  margin-left: auto;
  margin-right:auto;
  display: block;
  height:8%;
  width:8%;
  border-radius: 50%;
  animation: fadein 4s;
}

.aboutText {
  text-align: center;
  color:white;
  animation: fadein 4s;
}

/* .paragraphSpace{
  display: block;
  min-height: 130%;
  z-index: 4;
} */
html {
  background-color: black;
}

.resume {
  margin-left: auto;
  margin-right:auto;
  display: block;
  animation: fadeIn 4s;
  width:825px;
  height:1050px;
}
.btn {
  margin-left: auto;
  margin-right:auto;
  display: block;
  background-color: grey;
  margin-bottom: 30px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-color:none;
  animation: fadeIn 4s;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: lightgray;
}

.flexContainer {
  width:100%;
  margin: auto;
  padding-top:20px;
  padding-bottom:40px;
  text-align: center;
  display:block;
  flex-wrap: wrap;
}

.skillsIcon {
  padding:14px 16px;
  height: 5%;
  width: 5%;
  animation: fadeIn 4s;
}

*{
  z-index: -1;
}