@media screen and (max-width:375px){
  #navbar :not(:last-child){
    display:none;
  }
  #navbar .navbarItemRight .hiddenIcon{
    display:block;
    width:7vw;
    padding: 5vw;
  }
}

.navbarItemRight .hiddenIcon{
  display:none;
}

#navbar {
    position: sticky;
    list-style-type: none;
    margin:0;
    border:0;
    padding: 0;
    width:100%;
    white-space: nowrap;
    /* background-color:rgba(0, 0, 0, 0.5); */
    overflow:hidden;
    animation: fadein 4s; 
    min-height: 35%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Helvetica', 'Arial';
}

.navbarLink {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

.navbarItem {
  float: left;
}
.navbarItemRight {
  float: right;
}
.mainPage {
  border:0;
  margin:0;
  color: white;
  z-index:-10;
}

.indexTitle {
  padding-top:1%; 
  text-align: center;
  animation: fadein 4s;
  color:white;
}

@keyframes biggerFont{
  from{
    font-size: 100%;
  }
  to{
    font-size:107%;
    padding: 20px;
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes biggerPic {
  from {
    height:5%;
    width:5%;
  }
  to{
    height:5.5%;
    width:5.5%;
    top:-30px;
  }
}
li a:hover {
  animation: biggerFont .5s;
  animation-fill-mode: forwards;
}

.icon:hover {
    /* top:-25px;
    left:-35px;
    width:7%;
    height:auto;
    z-index:999; */
    animation: biggerPic .5s;
    animation-fill-mode: forwards;
}


.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-2;
}

footer {
  position: absolute;
  height: 30px;
  left:0;
  right:0;
  bottom: 0;
  text-align: center;
  animation: fadein 4s; 
  color:white;
}

.icon{
  /* display: block; 
  margin-left: auto;
  margin-right: auto; */
  padding: 14px 16px;
  height:5%;
  width: 5%;
  animation: fadein 4s; 
}

.imageDiv {
  align-content: center;
  text-align: center;
}

.mainDiv {
  min-height: 100%;
}

.circleIcon{
  margin-left: auto;
  margin-right:auto;
  display: block;
  height:8%;
  width:8%;
  border-radius: 50%;
  animation: fadein 4s;
}

.aboutText {
  text-align: center;
  color:white;
  animation: fadein 4s;
}

/* .paragraphSpace{
  display: block;
  min-height: 130%;
  z-index: 4;
} */
html {
  background-color: black;
}

.resume {
  margin-left: auto;
  margin-right:auto;
  display: block;
  animation: fadeIn 4s;
}
.btn {
  margin-left: auto;
  margin-right:auto;
  display: block;
  background-color: DodgerBlue;
  margin-bottom: 30px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-color:none;
  animation: fadeIn 4s;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.flexContainer {
  width:100%;
  margin: auto;
  padding-top:20px;
  padding-bottom:40px;
  text-align: center;
  display:block;
  flex-wrap: wrap;
}

.skillsIcon {
  padding:14px 16px;
  height: 5%;
  width: 5%;
  animation: fadeIn 4s;
}
